IDMaps/IDMaps.xcodeproj/project.xcworkspace/xcuserdata/igor.xcuserdatad/UserInterfaceState.xcuserstate
IDMaps/IDMaps.xcodeproj/xcuserdata/igor.xcuserdatad/xcschemes/IDMaps.xcscheme
IDMaps/IDMaps.xcodeproj/xcuserdata/igor.xcuserdatad/xcschemes/xcschememanagement.plist
contents.xcworkspacedata
IDMaps/IDMaps.xcodeproj/xcuserdata/igor.xcuserdatad/xcdebugger
IDMaps/IDMaps.xcworkspace/xcuserdata
IDMaps/Pods
IDMaps/.bundle
IDMaps/.gems
IDMaps/DerivedData
Gemfile.lock
IDMaps.app.dSYM.zip
IDMaps.ipa
*.md
ReleaseNotes.txt
report.xml
IDMaps.xcworkspace/xcuserdata
